.revision-decline-client-form {
	display: none;
	position: absolute;
	bottom: 50px;
	left: 40px;
	padding: 20px;
	background: #fff0f0;
	border: solid #ff4f4f 3px;
	border-radius: 5px;
	width: 570px;
}

.revision-decline-client-form textarea {
	width: 100%;
	height: 170px;
}

.revision-decline-client-form .form-submit {
	background: red;
}

.comment-approval {
	padding: 20px 20px 30px 20px;
	border-radius: 10px;
	background: #f9f9f9;
	margin-top: 15px;
	font-size: 18px;
}

.comment-approval em {
	font-size: 12px;
	font-style: normal;
}

.comment-approval .btn {
	margin-right: 20px;
}

a.revision-approve-client {
	background: green;
	color: #fff;
	padding: 8px 14px;
	border-radius: 10px;
}

a.revision-decline-client {
	background: red;
	color: #fff;
	padding: 8px 14px;
	border-radius: 10px;
}

.revision-approved {
	font-size: 16px;
	color: green;
	padding: 10px 0;
	font-weight: bold;
}

.revision-declined {
	font-size: 16px;
	color: red;
	padding: 10px 0;
	font-weight: bold;
}

.revision-declined .reason {
	font-size: 14px;
	color: #333;
	font-weight: normal;
}


