.element-invisible {
	display: none;
}

*
{
    margin:0;
    padding:0;
}

.clear {
	clear:both;
}

.group:before, .group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

body
{
	background-color: #FFFFFF;
/*	text-align: center;*/
}

a {text-decoration:none;}

a:hover{text-decoration:underline;}

h1 {
color:#FDB913;
font-size:42px;
letter-spacing:-3px;
margin:0;
padding:0 0 10px;
}

p {
	-x-system-font:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:21px;
}

.boldBlueText {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#202879;
}



#pageContent
{
	width:1000px;
	margin:0px auto 0 auto;
	background-color: #FFFFFF;
}

#headerContainer
{
	width:100%;
	background-color:#FFFFFF;
	background-image: url(../images/headerBackGround.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 89px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#innerHeaderContainer
{
	width:915px;
	height: 89px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: relative;
}

#headerLogoContainer
{
	width:179px;
	height:72px;
	position: absolute;
	top: 13px;
	left: 15px;
	text-align: left;
}

#headerContactInfo
{
	width:300px;
	height:50px;
	position: absolute;
	top: 13px;
	right: 15px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	color: #666666;
}

#headerContactInfo a
{
	text-decoration: none;
	color: #666666;
}

#headerContactInfo a:hover
{
	text-decoration: underline;
	color: #f28c20;
}



#fullWidthTitleBar
{
	width:100%;
	background-color:#FFFFFF;
	height: 93px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
}

#gradientBarLarge
{
	width:100%;
	/*height: 445px;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #FFFFFF;
	background-image: url(../images/formBackGround.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

#innerSpotlightContainer
{
	width:915px;
	background-image: url(../images/formBackGround.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	/*height: 421px;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}



#innerFormContainerLeftSide
{
	width:430px;
	/*height: 421px;*/
	float:left;
	display: inline-block;
	padding-top: 30px;
	text-align: left;
	margin-bottom: 30px;
}

#innerFormContainerRightSide
{
	width:430px;
	/*height: 390px;*/
	float:left;
	display: inline-block;
	padding-top: 30px;
	padding-right: 20px;
	text-align: left;
}

.formFieldContainer {
	font-size: 24px;
	display: inline-block;
	text-align: left;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0066cc;
}

.formTitleText,
label {
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	display: block;
}

.form-text {
	border: 1px solid #0066cc;
	width: 320px;
	height: 40px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 2px;
}

.form-text-short {
	border: 1px solid #0066cc;
	width: 80px;
	height: 40px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 2px;
}

select {
	border: 1px solid #0066cc;
	padding-top: 9px;
	padding-right: 0px;
	padding-bottom: 9px;
	padding-left: 0px;
	font-size: 20px;
	width: 325px;
}

.greenArrowHead {
	/*height: 90px;*/
	width: 400px;
	background-image: url(../images/greenArrowHead.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	margin-left: 40px;
	padding-left: 50px;
	margin-bottom: 5px;
}


#submitContainer
{
	width:915px;
	background-color:#FFFFFF;
	height: 88px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
	clear: both;
	padding-top: 10px;
}

#submitButton,
#edit-submit  {
	display: block;
	width:440px;
	height:78px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/submitButton.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	border: 0;
	text-indent: -999999px;
	cursor: pointer;
}

a#submitButton:hover,
#edit-submit:hover {
    background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/submitButton.png);
	background-repeat: no-repeat;
	background-position:  0 -90px;
}
a#submitButton:active {
   background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/submitButton.png);
	background-repeat: no-repeat;
    background-position:  0 -181px;
}

#footer{
	text-align: center;
	padding-bottom: 40px;
}

.form-required {
	display: none;
}

.messages {
	width: 740px;
	margin: 20px auto;
	font-family: Arial;
	padding: 20px;
}

.messages li {
	margin-left: 20px;
}

.messages.error {
	border: solid 1px #f00;
	background: #ffdde1;
}

.messages.status {
	border: solid 1px green;
	background: #99ce21;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
}

#ui-datepicker-div {
	font-family: Arial;
}

.error {
	border: solid 1px #f00;
}

.input-state {
	margin-bottom: 26px;
}

.krumo-root {
	color: #000;
}

.manual-city-link {
	font-size: 12px;
	color: #0066CC;
}

.manual-city-field {
	/*display: none;*/
}

.manual-city-field label {
	font-size: 14px;
}

