/*
Author: Brad Sawicki
URL: www.bradsawicki.com, www.elevenelevencreative.com
*/

@import url(http://fonts.googleapis.com/css?family=Mate);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(http://fonts.googleapis.com/css?family=Fjord+One);

body {
	font: 400 14px/1.5em "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
	color: #474747;
}


/** TYPOGRAPHY
================================================**/

h1,h2,h3,h4 {
	font-family: Mate, Georgia, serif;
	font-weight: 400;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 16px;
}

.page-title {
	padding: 20px 0 40px;
	font-size: 38px;
	font-weight: normal;
	line-height: 44px;
}

p, fieldset {
	margin: 0 0 1.5em;
}

#page ol li,
#page ul li {
  display:list-item;
  margin:0px 0px 0px 30px;
  padding:0px;
  }

#page ol li { list-style:decimal; }

#page ul li { list-style:disc; }

img { display:block; }

a { 
	color: #0A5C9B; 
	outline: 0!important;
}

a:hover {
	text-decoration: underline;
}

.btn {
    padding: 10px 15px;
    background-image: -moz-linear-gradient(top, #CF5918 0%, #D45D0D 30%, #CF5918 50%, #FF7E2F 100%);
    background-image: -webkit-linear-gradient(top, #CF5918 0%, #D45D0D 30%, #CF5918 50%, #FF7E2F 100%);
    border: 1px solid #9C3D00;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333333;
    color: #fff;
    font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    text-transform: none;
}

.btn:hover {
    background-color: #F37873;
    background-image: -moz-linear-gradient(top, #FF7E2F 0%, #DB504D 50%, #CB4300 50%, #E06400 100%);
    background-image: -webkit-linear-gradient(top, #FF7E2F 0%, #DB504D 50%, #CB4300 50%, #E06400 100%);
    text-decoration: none;
}

.btn:active {
    background-color: #D43C28;
    background-image: -moz-linear-gradient(top, #D43C28 0%, #AD3224 50%, #9C1500 50%, #700D00 100%);
    background-image: -webkit-linear-gradient(top, #D43C28 0%, #AD3224 50%, #9C1500 50%, #700D00 100%);
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset;
}



/** LAYOUT
================================================**/

.page-node-1 #page {
	padding-top: 20px;
	padding-bottom: 80px;
	background: none;
}

.page-node.logged-in #content {
	padding: 0;
	background: none;
	box-shadow: none;
/* 	box-shadow: 0 0 5px rgba(0,0,0,0.23); */
}

.page-node-1 .page-title {
	display: none;
}


/** HEADER
================================================**/





/** FRONT
================================================**/

.page-node-1 #block-system-main { /* Hide Content Area */
	display: none;
}

.page-node-1 #content-top {
	padding: 20px 0;
	background: url(../images/bg_content_top_front.jpg) no-repeat top center;
	color: #fff;
}

.page-node .left iframe {
	width: 600px;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.page-node-1 #content-top .right {
	width: 340px;
	padding-right: 40px;
}

.page-node-1 #content-top h1 {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	font-family: 'Arimo';
	font-size: 30px;
	line-height: 33px;
	font-weight: 700;
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.page-node-1 #content-top h2 {
	margin-bottom: 20px;
	font-family: 'Fjord One';
	font-size: 23px;
	line-height: 27px;
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.page-node-1 #content-top h2 .creme {
	color: #fff9bb;
}

.page-node-1 #content-top h2 .q-name {
	display: block;
	font-size: 15px;
}

.home-cta {
	margin-bottom: 40px;
}

.home-cta .left {
	padding-top: 20px;
}

.home-cta .right {
	padding: 20px 20px 20px 80px;
	background: url(../images/sprite_public.png) no-repeat top left;
}

.home-cta .btn {
	padding: 10px 40px;
}

.home-cta h3 {
	font-size: 22px;
}

.home-cta h3 span {
	color: #ff6101;
}


.why-videos,
.why-ls {
	float: left;
	width: 200px;
	padding-right: 40px;
}

.why-videos {
	margin-right: 40px;
	border-right: 1px solid #ddd;
}

.home-map {
	position: relative;
	float: right;
}

.why-videos h4,
.why-ls h4,
.home-map h4 {
	margin-bottom: 10px;
	padding-left: 16px;
	text-transform: uppercase;
}

.why-videos img,
.why-ls img {
	margin: 0 auto;
}

.page-node-1 #page ul li {
	margin-left: 16px;
}

.home-map a {
	display: block;
	text-indent: -9999em;
}

.home-map .map a {
	width: 454px;
	height: 295px;
	background: url(../images/sprite_public.png) no-repeat 0 -129px;
}

.home-map .join-us a {
	width: 102px;
	height: 48px;
	background: url(../images/sprite_public.png) no-repeat -454px -129px;
}

.home-map .join-us {
	position: absolute;
	top: 170px;
	right: -60px;
	z-index: 99;
}


/** FOOTER
================================================**/

footer .block-content {
	width: 1034px;
	margin: 0 auto;
	padding: 20px 0;
}

.footer-blocks {
	background: #F9F9F9;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

footer .left {
	width: 130px;
	min-height: 130px;	
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #ddd;
}

footer h5 {
	margin-bottom: 10px;
}

footer ul {
	list-style: none;
}


