/*
Author: Brad Sawicki
URL: www.bradsawicki.com, www.elevenelevencreative.com
*/

@import url(http://fonts.googleapis.com/css?family=Mate);

body {
	font: 14px/1.5em "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
	color: #474747;
}


/** TYPOGRAPHY
================================================**/

h1,h2,h3,h4 {
	font-family: Mate, Georgia, serif;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

.page-title {
	padding: 20px 0 40px;
	font-size: 38px;
	font-weight: normal;
	line-height: 44px;
}

p, fieldset {
	margin: 0 0 1.5em;
}

a { 
	color: #0A5C9B; 
	outline: 0!important;
}

a:hover {
	text-decoration: underline;
}


/** FORM
================================================**/

.messages {
	margin: 20px 0;
	padding: 10px 20px;
}

.messages li {
	list-style: none;
}

.status {
	background: #a3d39c;
	border: 1px solid #197b30;
}

.form-item {
	margin-bottom: 10px;
}

label {
	display: block;
	padding-bottom: 5px;
	font-family: Mate, Georgia, serif;
	font-size: 18px;
	/*text-transform: lowercase;*/
}

.form-text, textarea, select {
	width: 338px;
	padding: 7px 5px;
	border: 1px solid #b9b9b9;
}

.page-admin .form-text,
.page-admin textarea,
.page-admin select {
	width: auto;
}

textarea {
	width: 350px;
	height: 80px;
}

select {
	width: 350px;
}

button, 
input[type="submit"] {
	height: 40px;
	padding: 2px 10px 0;
  background: #fb942e;
  border: none;
  color: #fff;
  line-height: 40px;
	font-size: 16px;
  font-weight: normal;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

#edit-cancel, #edit-delete {
	margin-left: 20px;
}

#edit-return {
	margin-right: 20px;
}

#project-node-form #edit-return {
	margin-left: 20px;
	margin-right: 0;
}

td input[type="submit"] {
	height: 20px;
	line-height: 24px;
	font-size: 14px;
	padding: 0 5px;
}




/** TABLES
================================================**/

th {
	border-right: 6px solid #fff;
	text-align: left;
	text-transform: uppercase;
}

th span {
	padding: 5px 10px;
	display: block;
	color: #474747;
	border-bottom: 5px solid #f0f0f0;
}

.ui-datepicker-calendar th span {
	padding: 0;
}

td {
	padding: 5px 10px;
	font-size: 12px;
	border-right: 6px solid #fff;
}

.even td {
	background: #f0f0f0;
}

th img {
	margin-left: 10px;
	/*display: none!important;*/
}

th .ajax-progress {
	display: none!important;
}


/** LAYOUT
================================================**/

.left { float: left; }
.right { float: right; }

.limiter {
	width: 1034px;
	margin: 0 auto;
}

.page-projects-master .limiter,
.wide-table .limiter {
	width: 80%;
}

header {
	padding: 24px 0 16px;
}

#page {
	padding-bottom: 80px;
	background: url(../images/bg_page.jpg);
}

footer {
}


/** HEADER
================================================**/

.logo {
	float: left;
}

.logo a {
	display: block;
	width: 234px;
	height: 72px;
	background: url(../images/sprite_global.png) no-repeat;
	text-indent: -9999em;
}

.nav {
	float: right;
	padding-top: 22px;
}

.nav li {
	float: left;
	padding: 3px 0 3px 10px;
	margin-left: 20px;
	border-left: 1px solid #d4d4d4;
	list-style: none;
}

.nav a {
	padding: 8px 0 8px 10px;
	font-family: 'Mate', Georgia, serif;
	color: #434343;
	font-size: 14px;
	text-transform: uppercase;
}

.nav a:hover {
	text-decoration: underline;
}

.nav .menu-mlid-417 {
	border: none;
}

.nav .menu-mlid-638 a {
	padding-right: 20px;
	background: url(../images/sprite_global.png) no-repeat 78px -84px;
}

.nav .first {
	padding: 0;
	margin: 0 12px 0 0;
	border: none;
}

.nav .first a {
    padding: 10px 15px;
    background-image: -moz-linear-gradient(top, #CF5918 0%, #D45D0D 30%, #CF5918 50%, #FF7E2F 100%);
    background-image: -webkit-linear-gradient(top, #CF5918 0%, #D45D0D 30%, #CF5918 50%, #FF7E2F 100%);
    border: 1px solid #9C3D00;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333333;
    color: #fff;
    font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    text-transform: none;
}

.nav .first a:hover {
    background-color: #F37873;
    background-image: -moz-linear-gradient(top, #FF7E2F 0%, #DB504D 50%, #CB4300 50%, #E06400 100%);
    background-image: -webkit-linear-gradient(top, #FF7E2F 0%, #DB504D 50%, #CB4300 50%, #E06400 100%);
    text-decoration: none;
}

.nav .first a:active {
    background-color: #D43C28;
    background-image: -moz-linear-gradient(top, #D43C28 0%, #AD3224 50%, #9C1500 50%, #700D00 100%);
    background-image: -webkit-linear-gradient(top, #D43C28 0%, #AD3224 50%, #9C1500 50%, #700D00 100%);
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset;
}

#block-bxdev-user-user-info {
	float: right;
	clear: right;
	font-size: 12px;
	padding-top: 10px;
}

#block-bxdev-user-user-info .username {
	float: left;
}

#block-bxdev-user-user-info .actions {
	float: right;
	padding-left: 20px;
}




/** SIGN UP FORM / CREATE BIZ FORM
================================================**/


#user-register-form {
	padding: 40px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

#business-node-form .left,
#project-node-form .left {
	margin-bottom: 40px;
}

#user-register-form .right,
#business-node-form .right,
#project-node-form .right {
	width: 380px;
	padding-right: 200px;
}

#user-register-form #edit-actions,
#business-node-form #edit-actions,
#project-node-form #edit-actions {
	padding-top: 40px;
	border-top: 1px solid #000;
	clear: both;
}

#user-register-form #edit-actions input,
.page-sales-add #business-node-form #edit-actions input,
.page-sales-add #project-node-form #edit-actions input {
	float: right;
	padding-right: 40px;
	background: #fb942e url(../images/sprite_global.png) no-repeat 84px -120px;
}

#user-register-form #edit-actions input {
	background-position: 165px -120px;
}

.page-node-31 #content {
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

#business-node-form #edit-actions input {
	background-position: 80px -120px;
}

#project-node-form #edit-actions input {
	background-position: 175px -120px;
}

#project-node-form #edit-actions #edit-return {
	background-position: 200px -120px;
}

#project-node-form #edit-actions #edit-submit {
	background-position: 176px -120px;
}

.page-sales-add-business #page {
	padding-top: 40px;
}

#ui-datepicker-div {
	width: 300px;
}

#edit-profile-videographer-field-videographer-terms {
	clear: left;
	position: relative;
	top: 90px;
	width: 540px;
}


#edit-profile-videographer-field-videographer-terms .description,
#bxdev-user-accept-terms-form .description {
	padding: 7px 0 0 23px;
}

#edit-profile-videographer-field-videographer-terms label,
#bxdev-user-accept-terms-form label {
	padding-left: 7px;
}

#edit-profile-videographer-field-videographer-terms span.form-required,
#bxdev-user-accept-terms-form span.form-required {
	display: none;
}

.page-join-our-team #edit-profile-videographer-field-videographer-w9 {
	display: none;
}


/** ADD BIZ
================================================**/


.page-sales-add #content h2 {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b5b5b5;
	font-size: 25px;
}

.page-sales-add .client-select {
	margin-bottom: 20px;
}

.page-sales-add .client-select a {
	margin-right: 40px;
	padding: 3px 0 3px 30px;
	background: url(../images/sprite_global.png) no-repeat 0 -418px;
}

.page-sales-add .client-select .active {
	background-position: 0 -379px;
}

.page-sales-add .edit-submit {
	background: url(../images/sprite_global.png) no-repeat 0 -129px #fb942e;
}

.page-sales-add #edit-field-public-access,
.page-sales-add #edit-field-profile-video-ref,
.page-sales-add #edit-field-client-rating,
.page-sales-add #edit-field-pc-ref,
.page-sales-add #edit-field-videog-ref,
.page-sales-add #edit-field-project-video,
.page-sales-add #edit-field-status,
.page-sales-add #edit-field-project-photos {
	display: none;
}

.edit-field-social-name1-und-0-value {
	width: 200px;
}

#edit-field-business-overview textarea {
	height: 300px;
}

#edit-field-social-name1,
#edit-field-social-url1,
#edit-field-social-name2,
#edit-field-social-url2,
#edit-field-social-name3,
#edit-field-social-url3,
#edit-field-social-name4,
#edit-field-social-url4 {
	float: left;
	margin-right: 10px;
}

#edit-field-social-name2,
#edit-field-social-name3,
#edit-field-social-name4 {
	clear: left;
}

#edit-field-social-name1 input,
#edit-field-social-name2 input,
#edit-field-social-name3 input,
#edit-field-social-name4 input {
	width: 90px;
}

#edit-field-social-url1 input,
#edit-field-social-url2 input,
#edit-field-social-url3 input,
#edit-field-social-url4 input {
	width: 227px;
}

/*#edit-field-social-url1 input {
	margin-top: 26px;
}
*/
#edit-field-business-download-label {
	clear: left;
}

/*.page-sales-add #edit-field-pc-notes {
	clear: left;
	margin-bottom: 20px;
	border-top: solid #ccc 1px;
	padding-top: 20px;
}

.page-sales-add #edit-field-pc-notes textarea {
	width: 600px;
	height: 120px;
}
*/
.page-sales-add #project-node-form #edit-field-logo .form-submit {
	height: 20px;
	line-height: 24px;
	font-size: 14px;
	padding: 0 5px;
}

.page-sales-add #project-node-form #edit-field-logo .tabledrag-toggle-weight {
	display: none;
}

.page-sales-add #edit-field-client-ref {
	border-bottom: 1px solid #B5B5B5;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.new-client-wrapper {
	display: none;
	border-bottom: 1px solid #B5B5B5;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

/** SIGN IN FORM
================================================**/

.page-user.not-logged-in #block-system-main {
	width: 348px;
	margin: 0 auto;
	padding: 40px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

.page-user.not-logged-in .links {
	display: none;
}

.page-user.not-logged-in h1 {
	text-align: center;
}

#user-login label {
	font-size: 20px;
	text-transform: none;
}

#user-login .form-text {
	background: #dfdfdf;
	border: none;
}

#user-login .description,
#user-pass .description {
	float: left;
	padding-top: 20px;
}

#user-login .description a,
#user-pass .description a {
	color: #474747;
	font-family: Georgia, serif;
	font-style: italic;
}

#user-login #edit-actions,
#user-pass #edit-actions {
	float: right;
}

#bxdev-sales-existing-business-form .form-submit {
	padding-right: 40px;
	background: #fb942e url(../images/sprite_global.png) no-repeat 84px -120px;
}

#user-login #edit-actions input {
	padding-right: 40px;
	background: #fb942e url(../images/sprite_global.png) no-repeat 64px -120px;
}


/** LOGGED IN
================================================**/


.logged-in #content {
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

.logged-in.page-join-our-team #content {
	padding: 0;
	background: none;
	box-shadow: none;
}

#page .links a, .add-project {
	width: 180px;
	background: #828282;
	color: #fff;
	font-size: 17px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 0 1px rgba(0,0,0,0.15);
}

#page #content .links {
	margin-bottom: 20px;
}

#page #content .links a, .add-project {
	width: auto;
	padding: 0 10px;
	font-size: 14px;
	font-weight: normal;
}

.add-project {
	padding: 5px 10px;
}

#page .links .active {
	background: #fb942e;
}

#page .links li {
	float: left;
	margin-right: 2px;
	list-style: none;
}

.view-filters {
	padding: 10px;
	background: #e9e9e9;
}

.view-filters select {
	width: 240px;
}

.flag-1 {
	margin: 0 auto;
	width: 20px;
	height: 27px;
	background: url(../images/icon_flag.png) no-repeat;
}

.flag-1.status-7 {
	width: 22px;
	height: 19px;
	background: url(../images/icon_green_check.png) no-repeat;
}

.view-empty {
	padding-top: 20px;
}



/** PHOTO APPROVAL
================================================**/

#bxdev-project-photo-approval-form {
	padding-top: 20px;
}

#bxdev-project-photo-approval-form .photo-wrap {
	width: 110px;
	border: solid #ccc 1px;
	padding: 20px;
	float:left;
	margin: 0 20px 20px 0;
	border-radius: 5px;
}

#bxdev-project-photo-approval-form .photo-wrap .form-item label.option {
	font-size: 16px;
}

#bxdev-project-photo-approval-form #edit-submit {
	display: block;
	clear: both;
}

.project-thumb-wrapper {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b5b5b5;
}

.project-thumb {
	float: left;
	width: 150px;
	margin: 0 7px 7px 7px;
}

.prod-details-wrap,
.prod-history-wrap {
	overflow: hidden;
}

.prod-details-wrap h2,
.prod-history-wrap h2 {
	font-size: 25px;
}

.trigger {
	float: left;
	padding-right: 65px;
	background: url(../images/sprite_global.png) no-repeat 260px -469px;
	cursor: pointer;
}

.trigger.active {
	background-position: 260px -511px;
}

.prod-details-wrap .trigger-list,
.prod-history-wrap .trigger-list {
	display: none;
	clear: left;
	margin-top: 40px;
}

.trigger-list .field,
.trigger-list .log-row {
	margin-bottom: 10px;
}

input[type="submit"].approve-btn, .approve-yes {
	display: block;
	width: 180px;
	height: 40px;
	background: #198300;
	color: #fff;
	line-height: 40px;
	text-align: center;
}

.approve-yes {
	margin-bottom: 10px; 
}

.approve-cancel {
	color: #f00;
}

.project-approved {
	background: green;
	color: #fff;
	font-size: 18px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}


/** PROJECT PAGE
================================================**/

.node-type-project #page,
.page-sales-add-project #page {
	padding-top: 40px;
}

.node-type-project .left h1 {
	margin-bottom: 5px;
	line-height: 30px;
}

.node-type-project .left h2 {
	font-size: 15px;
}

.node-type-project .contact {
	margin-bottom: 30px;
}

.node-type-project .contact:last-child {
	margin-bottom: 0;
}


.node-type-project .contact h3 {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b5b5b5;
}


.view-comments h2 {
	margin-bottom: 20px;
}

.view-comments .view-header a,
.download-doc a {
	float: right;
	padding: 0 5px;
	background: #4a4949;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}

.download-doc a {
	margin-left: 10px;
}

.view-comments .view-header a {
	margin: 10px 10px 0 0;
}

.view-comments .views-row {
	margin-bottom: 20px;
	padding: 12px 20px;
	background: #efefef;
	border-radius: 10px;
	font-family: Georgia, serif;
}

.view-comments .views-field-field-name {
	font-size: 20px;
	font-weight: bold;
}

.view-comments .views-field-created {
	font-size: 12px;
	font-style: italic;
}

#edit-field-comment .form-required {
	display: none;
}

.form-item-revision-list label {
	font-size: 14px;
}

#bxdev-project-videographer-documents-form #edit-signed-production-release-remove-button,
#bxdev-project-videographer-documents-form #edit-videographer-invoice-remove-button,
#bxdev-vid-w9-form #edit-w9-form-remove-button {
	font-size: 12px;
	height: 20px;
	line-height: 24px;
	background: transparent;
	color: #f00;
}

#bxdev-project-logo-upload-form input[value="Remove"],
#bxdev-project-logo-upload-form input[value="Upload"] {
	display: none;
}

#bxdev-project-logo-upload-form input[value="Add"] {
	font-size: 12px;
	padding: 5px 10px;
	height: auto;
	line-height: 14px;
	margin-right: 10px;
}

#bxdev-project-logo-upload-form #edit-business-logo-upload-button,
#bxdev-project-videographer-documents-form #edit-signed-production-release-upload-button,
#bxdev-project-videographer-documents-form #edit-videographer-invoice-upload-button {
	display: none;
}

#bxdev-project-logo-upload-form #edit-save,
#bxdev-project-videographer-documents-form #edit-save--2,
#bxdev-vid-w9-form #edit-submit {
	font-size: 12px;
	padding: 5px 10px;
	height: auto;
	line-height: 14px;
}

#edit-signed-production-release-ajax-wrapper {
	border-bottom: solid #ccc 1px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#edit-field-shoot-date {
	display:none;
}

#edit-bxdev-shoot-date-fieldset .form-item {
	width: 300px;
	float: left;
}

#edit-bxdev-shoot-date-fieldset {
	width: 332px;
	margin-top: 20px;
	padding-top: 10px;
}

#edit-bxdev-shoot-date-fieldset .form-item input,
#edit-bxdev-shoot-date-fieldset .form-item select {
	width: 200px;
}

#media-browser-tabset .ui-tabs-nav {
	/*display: none;*/
}

.progress-disabled {
	float: none;
}

.ajax-progress {
	display: none;
}


/** BUSINESS PROFILE / PROJECT PROFILE / CLIENTS DIRECTORY SHARED STYLES
================================================**/


.node-type-project.logged-in #content,
.node-type-business.logged-in #content,
.page-clients.logged-in #content,
.page-videographers #content,
.page-user-info #content {
	padding: 0;
	background: none;
	box-shadow: none;
}

.back, .videographer-back {
	float: left;
	margin: 10px 20px 10px 0;
	font-family: Georgia, serif;
	font-size: 13px;
	font-weight: bold;
}

.left .left-top,
.left .left-bottom,
.left .left-mid,
.node-type-business .main .block,
.node-type-project #content .left .block,
.node-type-project .main .block,
.page-clients .left,
.page-clients .main .block,
.page-videographers .left,
.page-videographers .main .block,
.page-user-info .right {
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

.node-type-business .main .block,
.node-type-project .main .block,
.page-user-info .right {
	overflow: hidden;
	width: 660px;
	position: relative;
}

.node-type-business #content .left,
.node-type-project #content .left,
.page-clients .left,
.page-videographers .left,
.page-user-info .left {
	clear: left;
	width: 300px;
	font-family: Georgia, serif;
}

.page-clients .left,
.page-videographers .left {
	width: 260px;
}

.node-type-business #content .main,
.node-type-project .main,
.page-clients .main,
.page-videographers .main {
	position: relative;
	float: right;
	width: 700px;
}

.page-user #edit-field-pc-ref-uid-wrapper {
	display:none;
}

.social .icon {
	float: left;
	margin-right: 15px;
}

.social .link {
	clear: left;
}


/** USER INFO
================================================**/

.videographer-item {
	margin-bottom: 20px;
}

.page-user-info .links {
	margin-bottom: 25px;
}

#edit-w9-form-upload-button {
	display: none;
}

/** BUSINESS PROFILE LEFT
================================================**/

.node-type-business #content .left h1 {
	margin-bottom: 3px;
	line-height: 30px;
}

.category {
	margin-bottom: 5px;
	font-size: 13px;
}

.symbols {
	overflow: hidden;
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #b5b5b5;
}

.rating, .videographer-rating {
	float: left;
	width: 104px;
	height: 18px;
	background: url(../images/sprite_global.png) no-repeat;
	text-indent: -9999em;
}

.rating-5, .videographer-rating-5 { background-position: 0 -172px; }
.rating-4, .videographer-rating-4 { background-position: 0 -190px; }
.rating-3, .videographer-rating-3 { background-position: 0 -208px; }
.rating-2, .videographer-rating-2 { background-position: 0 -226px; }
.rating-1, .videographer-rating-1 { background-position: 0 -244px; }
.rating-0, .videographer-rating-0 { background: none; }

.price {
	float: right;
	width: 37px;
	height: 16px;
	background: url(../images/sprite_global.png) no-repeat;
	text-indent: -9999em;
}

.price-4 { background-position: 0 -262px; }
.price-3 { background-position: 0 -278px; }
.price-2 { background-position: 0 -294px; }
.price-1 { background-position: 0 -310px; }
.price-0 { background: none; }


.left .website,
.left .phone,
.left .email,
.left .address {
	margin-bottom: 5px;
	padding-left: 24px;
	background: url(../images/sprite_global.png) no-repeat;
}

.left .website { background-position: -234px -72px; }
.left .phone { background-position: -234px -106px; }
.left .email { background-position: -234px -140px; }
.left .address { background-position: -234px -171px; margin-bottom: 12px; }

.left iframe {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b5b5b5;
}

.left .hours {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b5b5b5;
}

.left .edit { margin-bottom: 5px; }

.left .edit a, .left .delete a {
	display: block;
	padding-left: 24px;
	background: url(../images/sprite_global.png) no-repeat -234px -262px;
	text-transform: uppercase;
}

.left .delete a {
	background-position: -234px -302px;
	color: #f00;
}


/** BUSINESS PROFILE MAIN
================================================**/

.main .video-wrap-outer {
	position: relative;
	width: 688px;
	height: 419px;
	margin: -15px 0 0 -15px;
	padding: 10px 0 0 14px;
	background: url(../images/bg_video.png) no-repeat;
}

.main .video-wrap-inner .slide {
	position: absolute;
}

.media-vimeo-outer-wrapper {
	width: 600px;
}

.overview {
	margin-bottom: 20px;
}

.overview h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

.download a {
	width: 140px;
	padding: 8px 15px 8px 50px;
	border-radius: 5px;
	background: #fe8f00 url(../images/sprite_global.png) no-repeat -218px -214px;
	color: #fff;
	font-size: 16px;
}

.client-projects {
	font-family: Georgia, serif;
	font-size: 18px;
}

.client-projects h2 {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #b5b5b5;
}

.client-projects ol {
	padding-left: 25px;
}

.client-projects li {
	margin-bottom: 5px;
	position: relative;
}

/*.client-projects .views-field-title-1 {
	float: left;
}
*/
.client-projects .views-field-php {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
}

.client-projects .views-field-php a {
	padding-left: 24px;
	background: url(../images/sprite_global.png) no-repeat -234px -343px;
}

.client-projects .views-field-php .active {
	background-position: -234px -383px;
}

/*slider*/
.video-thumbs-wrap {
	margin-bottom: 20px;
	margin-top: -10px;
}

.video-thumbs-wrap .field-label {
	padding-bottom: 7px;
}

.video-thumbs-wrap .field-name-field-project-video {
	width: 175px;
	float: left;
}

.video-thumbs-wrap .photo-thumbs-wrap-outer {
	float:left;
	width: 480px;
	font-weight: bold;
}

.video-thumbs-wrap .photo-thumbs-wrap-outer .slide {
	float: left;
	padding-right: 10px;
	cursor: pointer;
}

.photo-thumbs-wrap-inner {
	width: 999999px;
}

.photo-thumbs-wrap-outer .bx-prev {
	position: absolute;
	top: 0;
	left: -32px;
	width: 24px;
	height: 59px;
	background: url(../images/icon_arrow_left.png);
	text-indent: -999999px;
}

.photo-thumbs-wrap-outer .bx-next {
	position: absolute;
	top: 0;
	right: -22px;
	width: 24px;
	height: 59px;
	background: url(../images/icon_arrow_right.png);
	text-indent: -999999px;
}

.field-name-field-project-video img {
	cursor: pointer;
}


/** CLIENT DIRECORY
================================================**/

.page-clients #content,
.page-videographers #content {
	font-family: Georgia, serif;
}

.page-clients h1,
.page-videographers h1 {
	text-align: center;
}

/** SEARCH ******/

.page-clients .views-exposed-form .views-exposed-widget,
.page-videographers .views-exposed-form .views-exposed-widget {
	float: none;
	padding: 0;
}

.page-clients .views-exposed-form .views-exposed-widget .form-submit,
.page-videographers .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0;
}

.page-clients .search,
.page-videographers .search {
	width: 630px;
	margin: 0 auto 30px;
	padding: 10px 20px 3px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

.page-videographers .search {
	width: 660px;
}

.page-clients .search .views-exposed-widget,
.page-videographers .search .views-exposed-widget {
	display: none;
}

.page-clients .search #edit-title-wrapper,
.page-clients .search .views-submit-button,
.page-videographers .search #edit-field-name-value-wrapper,
.page-videographers .search .views-submit-button {
	display: block;
}

.page-clients .search label,
.page-clients .search .views-widget,
.page-clients .search .views-submit-button,
.page-videographers .search label,
.page-videographers .search .views-widget,
.page-videographers .search .views-submit-button {
	float: left;
}

.page-clients .search label,
.page-videographers .search label {
	margin-right: 40px;
	padding-bottom: 0;
	font-size: 20px;
	line-height: 31px;
	text-transform: none;
}

.page-clients .search input[type="submit"],
.page-videographers .search input[type="submit"] {
	width: 30px;
	height: 31px;
	line-height: 31px;
	background: url(../images/sprite_global.png) no-repeat 7px -124px #fb942e;
	text-indent: -9999em;
}


/** LEFT ******/

.page-clients .view-filters,
.page-videographers .view-filters {
	background: none;
	padding: 0;
}

.page-clients .view-content .left,
.page-videographers .view-content .left {
	background: none;
	padding: 0;
	box-shadow: none;
}

.page-clients .left h2,
.page-videographers .left h2 {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #b5b5b5;
}

.page-clients .left .clear,
.page-videographers .left .clear {
	float: right;
	margin-top: -37px;
}

.page-clients .left #edit-title-wrapper,
.page-clients .left .views-widget-sort-by,
.page-clients .left .views-widget-sort-order,
.page-videographers .left #edit-title-wrapper,
.page-videographers .left .views-widget-sort-by,
.page-videographers .left .views-widget-sort-order,
.page-videographers .left #edit-field-name-value-wrapper {
	display: none;
}

.page-clients .left label,
.page-videographers .left label {
	font-size: 14px;
}

.page-clients .left .views-exposed-widget,
.page-videographers .left .views-exposed-widget {
	margin-bottom: 10px;
}


/** MAIN ******/

.page-clients .left,
.page-videographers .left {
	margin-top: 30px;
}

.page-clients .main .controls,
.page-videographers .main .controls {
	height: 30px;
}

.result-count, .sort {
	float: left;
}

.sort {
	margin-left: 120px; 
}

.pager {
	float: right;
}

.view-projects .pager,
.view-projects .pager-prev,
.view-projects .pager-next {
	float: left;
}

.view-projects .pager-current {
	padding-top: 1px;
}

.page-clients #page #content .links,
.page-videographers #page #content .links {
	float: left;
	margin: 0;
}

.pager-prev {
	float: left;
}

.pager-next {
	float: right;
}

.pager-prev li,
.pager-next li {
	list-style: none;
}

#page #content .pager li {
	margin: 0 5px;
}

#page #content .pager .links a {
	background: no-repeat;
	padding: 0;
	line-height: 1.5em;
}

#page .pager .links .active {
	background: none;
	color: #0A5C9B;
}


/** Listing **/

.view-clients .main .views-row,
.view-videographer-users .main .views-row {
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #b5b5b5;
}

.view-clients .main .left,
.view-videographer-users .main .middle {
	float: left;
	width: auto;
	margin: 0;
}
.view-clients .main .right,
.view-videographer-users .main .rating-notes {
	float: right;
	padding-right: 5px;
}

.view-clients .main .title,
.view-videographer-users .main .name-city {
	margin-bottom: 10px;
	font-size: 20px;
}

.view-clients .main .left .website {
	background: none;
	padding-left: 21px;
}

.view-clients .photo {
	float: right;
	background: #fff;
	padding: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
}

.view-clients .photo img {
	display: block;
}

.view-clients .category,
.view-clients .rating {
	float: left;
	clear: left;
	width: 104px;
	padding-right: 20px;
	text-align: right;
}

.view-clients .category {
	margin-bottom: 15px;
}

.rating-notes .videographer-rating {
	float: right;
	margin-bottom: 10px;
}

.rating-notes .notes-inner {
	float: right;
	clear: right;
	width: 17px;
	height: 21px;
	background: url(../images/sprite_global.png) no-repeat 0 -342px;
	text-indent: -9999em;
}








/** EDIT FORM
================================================**/

.page-node-edit .node-project-form,
.page-node-edit .node-business-form,
.page-node-delete form {
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

.node-type-project.page-node-edit #page {
	padding-top:0;
}

.page-node-delete form #edit-actions {
	padding-top: 10px;
}


